.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 91vh;
  background: linear-gradient(to right, #1a1a1a, #333333);
  color: white;
  padding: 2rem;
  border: 10px solid #43a700;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  /* border-radius: 1rem; */
}

.debate-title {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}


.timer {
  font-size: 5rem;
  font-weight: 700;
  color: #ffffff;
  background: #1a1a1a;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 2px solid #ffffff;
}

.role {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  background: #1a1a1a;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ffffff;
  margin-top: 1rem;
}

.team {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  margin-top: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background 0.3s;
}

.team-government {
  background: linear-gradient(45deg, #004080, #0059b3);
  color: white;
  border: 2px solid #003366;
}

.team-opposition {
  background: linear-gradient(45deg, #800000, #b30000);
  color: white;
  border: 2px solid #660000;
}

.team:hover {
  transform: scale(1.05);
}

.poi-status {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.poi-indicator {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.poi-indicator.open {
  background-color: #00ff00; /* Bright green */
}

.poi-indicator.closed {
  background-color: #ff0000; /* Bright red */
}

.select {
  background: #1a1a1a;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.button {
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  gap: 5rem; 
  padding: 1rem 2rem;
  font-size: 1.25rem;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.button-start {
  background: linear-gradient(45deg, #004080, #0059b3);
  color: white;
}

.button-start:hover {
  background: linear-gradient(45deg, #003366, #004080);
}

.button-reset {
  background: linear-gradient(45deg, #800000, #b30000);
  color: white;
}

.button-reset:hover {
  background: linear-gradient(45deg, #660000, #800000);
}

.button-next {
  background: linear-gradient(45deg, #008000, #00b300);
  color: white;
}

.button-next:hover {
  background: linear-gradient(45deg, #006600, #008000);
}

.button-previous {
  background: linear-gradient(45deg, #ffa500, #ffcc00);
  color: white;
}

.button-previous:hover {
  background: linear-gradient(45deg, #cc8400, #ffa500);
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.progress {
  height: 100%;
  background-color: #0619e6;
  transition: width 1s linear;
}